.top-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 10px;
  gap: 10px;
}

.top-menu__item {
  padding: 9px 16px 7px;
  border-radius: var(--b-radius);
  font-size: 14px;
  color: var(--c-top-menu-item-text);
  background-color: var(--c-top-menu-item-bg);
  text-decoration: none;
}

.top-menu__item--prsonal-area {
  position: relative;
  font-size: 16px;
  border: none;
  color: var(--с-accent-text);
  background-color: var(--с-accent-bg);
}

.top-menu__item--prsonal-area .arrow {
  top: -3px;
  margin-left: 14px;
  width: 9px;
  height: 9px;
  border-width: 2px;
  transform: rotate(45deg);
}

.top-menu__item--user,
.top-menu__item--organization {
  position: relative;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.top-menu__item--user {
  padding-left: 40px;
}

.top-menu__item--organization {
  padding-left: 44px;
}

.top-menu__item--user svg,
.top-menu__item--organization svg {
  position: absolute;
  fill: var(--с-accent-bg);
}

.top-menu__item--user svg {
  margin-left: -28px;
  top: 7px;
}

.top-menu__item--organization svg {
  margin-left: -32px;
  top: 8px;
}

.top-menu__button {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: none;
  fill: var(--с-accent-text);
  background-color: var(--с-accent-bg);
}

.top-menu__title {
  margin: 0 0 10px;
  flex-grow: 1;
  flex-basis: 100%;
  font-size: 24px;
}

.top-tooltip__text {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
  margin: 0;
  padding: 10px 20px;
  width: 780px;
  max-width: 66vw;
  color: var(--с-text);
  background-color: var(--с-bg);
  border-radius: var(--b-radius);
  box-shadow: 5px 10px 13px rgba(58, 60, 57, 0.3);
  text-overflow: initial;
  white-space: initial;
}

.top-tooltip__text::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
}

.top-tooltip:hover .top-tooltip__text {
  display: block;
}
